html, body {
    height: 100%;
    margin: 0; 
    /* overflow: hidden; TO REMOVE SCROLL */
}

@font-face {
    font-family: 'Aesthet Nova';
    src: url('assets/fonts/Aesthet\ Nova\ Medium.otf');
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-right {
    margin-right: 0;
}

.logo {
    text-align: center;
}

.launch {
    font-family: Libre Franklin;
    font-size: 16px;

    margin-top: 20px;
    margin-right: 32px;
}

.count-down {
    text-align: center;
}


/* COUNT DOWN */

.box { 
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 16px;
    border-radius: 4px;

    font-size:24px;
    line-height: 48px;
    text-align: center;
    align-self: center;

    color: #2E271D;
    background: #FDFAF3;
}

.boxright { 
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 0;
    border-radius: 4px;

    font-size:24px;
    line-height: 48px;
    text-align: center;
    align-self: center;

    color: #2E271D;
    background: #FDFAF3;
}


.text1 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;

    line-height: 42px;
    margin-bottom: 16px;
    /* margin-left: 5vw; */

    color: #3D352B;

}

.text2 {
    font-family: 'Aesthet Nova';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;

    margin-bottom: 43px;
    /* margin-left: 5vw; */

    color: #2E271D;
}

.text3 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    margin-bottom: 24px;
    /* margin-left: 5vw; */

}


a.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;

    background: #7E9048;
    border-radius: 8px;

    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 16px;

    /* margin-left: 5vw; */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

a.btn:focus {
    background-color: #4E5B27;
    color: #FFFFFF;
}

a.btn:hover{
    background-color: #4E5B27;
    color: #FFFFFF; 
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .launch {
        display: none;
    }
}
